@{
    Layout = null;
    int times = (int)TempData["loginTimes"];
    TempData.Keep();    
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - ATS QA</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PIMES_DMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="loginbg vh-100">
    <header class="header-nav">
        <div class="d-flex justify-content-between w-100" style="border-bottom:2px solid; height:55px; background-color:#2706F0">
            <div class="align-self-center">
                <img style="height:30px; margin-inline:25px" src="~/photos/pimeslogo.png" />
            </div>
            <div class="align-self-center">
                <a class="text-white billsfont text-decoration-none" href="https://pimes.com.ph/">AUTOMATION TECHNOLOGY SOLUTIONS - QUALITY ASSURANCE</a>
            </div>
            <div class="align-self-center">
                <img style="height:30px; margin-inline:25px" src="~/photos/ats wbg.png" />
            </div>
        </div>
    </header>

    <div class="container-fluid row mx-0" style="height:100%">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="card border-3 text-white h-75 w-75" style="background-color:blue;">
                <p class="card-header text-center bg-primary">Customer Satisfaction</p>
               <div class="m-2">                   
                    <p>Customer Satisfaction or CSat is a chuchuchahachuchuahahahahcuahcuahuaauhauchauchaucaucha</p>
               </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="d-flex justify-content-center" style="margin-top:250px">    
                <div class="card border-3 text-white" style="background-color:blue; border-color:blue">
                    <form asp-controller="Login" asp-action="LoginAcc" method="post">
                        <h3 class="text-center card-header bg-primary">Welcome to CSat Portal</h3>
                        @{
                            if (times > 0)
                            {
                                <div class="alert alert-danger text-center" role="alert">
                                    @TempData["message"]
                                </div>
                            }
                        }
                        <div class="input-group mt-3 mb-3 mx-auto w-75">
                            <span class="input-group-text" id="basic-addon1">&#64;</span>
                            <input class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="user">
                        </div>
                        <div class="input-group mx-auto w-75">
                            <span class="input-group-text" id="basic-addon1"><i style="font-size:24px" class="fa">&#xf023;</i></span>
                            <input class="form-control" placeholder="Password" type="password" name="pass" />
                        </div>
                        <div class="text-center mt-3">
                            <input type="submit" class="btn btn-info w-75" value="Login" />
                        </div>
                        <div class="mt-3"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="card border-3 text-white h-75 w-75" style="background-color:blue;">
                <p class="card-header text-center bg-primary">Announcements:</p>
                <p> chuchu chacha</p>
            </div>
        </div>
    </div>
    <footer class="loginfooter">
        <p class="mx-0 text-white">
            &copy; 2023 - P. IMES - ATS QA
        </p>
    </footer>
</body>

</html>