@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="height:500px">
    <div class="w-25" style="border:5px solid">
        <a class="btn btn-primary mt-5" style="height:40px; width:100%" asp-controller="Issue" asp-action="SubmitIssueView">Submit Issue</a>
        <a class="btn btn-primary mt-2" style="height:40px; width:100%" asp-controller="Issue" asp-action="IssuesList">Issues List</a>
        <a class="btn btn-primary mt-2" style="height:40px; width:100%" asp-controller="Validation" asp-action="ShowIssuesWithReport">Validation & Verification</a>
   </div>
    <div class="w-75">

   </div>
</div>
